#destination {
    background-image: url("../../images/destination/background-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and ( min-width: 768px ) {
        background-image: url("../../images/destination/background-destination-desktop.jpg");
    }

    .title-custom {
        font-size: 16px;
        letter-spacing: 3px;

        @media screen and ( min-width: 768px ) {
            font-size: 25px;
            letter-spacing: 6px;
        }
    }

    .image-custom {
        width: 50vw;
        filter: drop-shadow(0 0 100px rgba(53, 53, 53, 0.5));

        @media screen and ( min-width: 768px ) {
            filter: drop-shadow(0 0 200px rgba(53, 53, 53, 0.5));
            width: 25vw;
        }
    }

    .link-custom {
        font-size: 14px;

        @media screen and ( min-width: 768px ) {
            font-size: 16px;
        }
    }
}