#technology {
    height: 100vh;
    background-image: url("../../images/technology/background-technology-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and ( min-width: 768px ) {
        background-image: url("../../images/technology/background-technology-desktop.jpg");
    }
}