#home {
    background-image: url("../../images/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and ( min-width: 768px ) {
        background-image: url("../../images/home/background-home-desktop.jpg");
    }

    .subtitle-custom{
        @media screen and ( min-width: 768px ) {
            font-size: 23px;
        }
    }

    .title-custom {
        @media screen and ( min-width: 768px ) {
            font-size: 110px;
        }
    }
    
    .border-custom{
        // border-radius: 50%;
        // border: 4rem solid #9797974b;
        
        .btn-custom {
            padding: 4.4rem 2.3rem;
            font-size: 20px;

            @media screen and ( min-width: 768px ) {
                padding: 5.2rem 2.3rem;
                font-size: 28px;
            }
            
        }
    }
    
}