#navbar {
    background: rgb(255, 255, 255, 0);

    img {
        width: 40px;
    }

    .bar {
        position: absolute;
        z-index: 5;
        width: 473px;
        height: 1px;
        left: 120px;
        background: rgb(114, 114, 114);
    }
    .custom-toggle {
        .navbar-toggler-icon {
            background-image: url(../../images/shared/icon-hamburger.svg);
            width: 24px;
            height: 21px;
        }
    }

    #navbarSupportedContent {
        nav {
            position: absolute;
            right: -16px;

            width: 60%;
            height: 100vh;

            background: rgb(255, 255, 255, 0.04);
            backdrop-filter: blur(20px);

            @media screen and (min-width: 768px) {
                position: relative;
                width: 62%;
                height: auto;
            }
        }
    }

    .active {
        border-right: 3px solid #FFFFFF;

        @media screen and (min-width: 768px) {
            border-right: none;
            border-bottom: 3px solid #FFFFFF;
        }
    }
}